:root{
    --color-primary_light: #A3BFFA;
    --color-primary: #667EEA;
    --color-primary_dark: #4C51BF;
}

.theme-light {
    --theme-primary_light: #ffffff;
    --theme-primary: #EDF2F7;
    --theme-primary_dark: #dbe5ef;
    --theme-secondary: #718096;

    background: var(--theme-primary);
    color: var(--theme-secondary);
}

.theme-dark-gray {
    --theme-primary_light: #1b1f2c;
    --theme-primary: #11141c;
    --theme-primary_dark: #07090c;
    --theme-secondary: #dbe5ef;

    background: var(--theme-primary);
    color: var(--theme-secondary);
}
.theme-dark-blue {
    --theme-primary_light: 	#001f41;
    --theme-primary: #001327;
    --theme-primary_dark: #00070e;
    --theme-secondary: #dbe5ef;
    
    background: var(--theme-primary);
    color: var(--theme-secondary);
}
/* Primary Color */
/* Red */
.primary-red{
    --color-primary_light: #FEB2B2;
    --color-primary: #F56565;
    --color-primary_dark: #C53030
}
/* Orange */
.primary-orange{
    --color-primary_light: #FBD38D;
    --color-primary: #ED8936;
    --color-primary_dark: #C05621;
}


/* Yellow */
.primary-yellow{
    --color-primary_light: #FAF089;
    --color-primary: #ECC94B;
    --color-primary_dark: #B7791F;
}

/* Green */
.primary-green{
    --color-primary_light: #9AE6B4;
    --color-primary: #48BB78;
    --color-primary_dark: #2F855A
}

/* Teal */
.primary-teal{
    --color-primary_light: #81E6D9;
    --color-primary: #38B2AC;
    --color-primary_dark: #2C7A7B
}
/* Blue */
.primary-blue{
    --color-primary_light: #90CDF4;
    --color-primary: #4299E1;
    --color-primary_dark: #2B6CB0;
}

/* Indigo */
.primary-indigo{
    --color-primary_light: #A3BFFA;
    --color-primary: #667EEA;
    --color-primary_dark: #4C51BF;
}

/* Purple */
.primary-purple{
    --color-primary_light: #A3BFFA;
    --color-primary: #9F7AEA;
    --color-primary_dark: #6B46C1;
}
/* Pink */
.primary-pink{
    --color-primary_light: #FBB6CE;
    --color-primary: #ED64A6;
    --color-primary_dark: #B83280;
}


/* Focus will take precedence over hover */
@variants hover{
    .neu-out{
        /* color: var(--theme-secondary); */
        background:  var(--theme-primary);
        box-shadow:  10px 4px 10px var(--theme-primary_dark),
                     -10px -4px 10px var(--theme-primary_light);
    }
    .neu-in{
        /* color: var(--theme-secondary); */
        background:  var(--theme-primary);
        box-shadow: inset 10px 4px 10px var(--theme-primary_dark),
                    inset -10px -4px 10px var(--theme-primary_light);
    }
    .neu-push{
        /* color: var(--theme-secondary); */
        background:  var(--theme-primary);
        box-shadow: inset -10px -4px 10px var(--theme-primary_dark),
                    inset 10px 4px 10px var(--theme-primary_light);
    }
    
}

.neu-out:hover,.neu-out.active{
    /* color: var(--theme-secondary); */
    background:  var(--theme-primary);
    box-shadow:  10px 7px 7px var(--theme-primary_dark),
                 -10px -7px 7px var(--theme-primary_light);
}

.neu-in:hover,.neu-in.active{
    /* color: var(--theme-secondary); */
    background:  var(--theme-primary);
    box-shadow: inset 10px 7px 7px var(--theme-primary_dark),
                inset -10px -7px 7px var(--theme-primary_light);
}


.neu-push:hover,.neu-push.active{
    /* color: var(--theme-secondary); */
    background:  var(--theme-primary);
    box-shadow: inset -10px -7px 7px var(--theme-primary_dark),
                inset 10px 7px 7px var(--theme-primary_light);
}



@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus{
    outline-style: none;
}

.hovered{
    display: none;
}
.to-hover:hover .hovered{
    display: block;
}